@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import 'uilab-core/styles.css';
@import 'uilab-core/theme.css';
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
