stages:
  - build-and-publish

build-and-publish:
  stage: build-and-publish
  pages: true
  image: node:22-alpine
  publish: pages
  before_script:
    - npm install --global corepack@latest
    - corepack enable
    - corepack prepare pnpm@latest-10 --activate
    - pnpm config set store-dir .pnpm-store
  script:
    - pnpm install
    - pnpm build:components
    - pnpm build:docs
    - mkdir -p pages/registry
    - mv apps/docs/dist/client/* pages/
    - cp pages/index.html pages/404.html
    - mv packages/components/dist/* pages/registry/
  artifacts:
    paths:
      - apps/docs/dist
      - packages/components/dist
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
      - ./node_modules

  # rules:
  #   # Runs this step if the commit tag matches a production or staging pattern
  #   - if: "$CI_COMMIT_TAG =~ /^prod-.*$/i"
