@import 'tailwindcss';
@import 'tw-animate-css';
@import 'uilab-core/styles.css';
@import 'uilab-core/theme.css';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';

@custom-variant dark (&:is(.dark *));
